.headerEquipo {
    display: $block;
    height: $alturaFotosPrincipales;
    background-image: url(../assets/img/Foto\ equipo.jpeg);
    background-size: $tamanoFotosPrincipales;
    background-position: $textoCentrado;
    background-repeat: $repeticionFotosPrincipales;
    background-attachment: $movimientoFotosPrincipales;

    .navbar {
        .container-fluid {
            .navbar-brand {
                .tamañoLogo {
                    width: 280px;
                    height: 160px;
                    margin-bottom: 10px;
                }
            }

            .collapse {
                .posicionNav {
                    width: 100%;
                    justify-content: $posicionNavegacion;
                    margin-bottom: 80px;
                    margin-right: 100px;

                    .linkNav {
                        color: $colorAmarillo;
                        font-size: 22px;
                        margin-left: 25px;

                        &:hover {
                            color: $colorHover;
                        }
                    }
                }
            }
        }
    }
}
.mainEquipo__jugadores { 
    font-family: $tipografiaTitulos;
    font-weight: $negrita;
    color: $colorAmarillo;
    text-align: $textoCentrado;
    margin-top: 25px;
    margin-bottom: 25px;}
   
.mainEquipo {
        .mainEquipo__jugadores__estiloTitulo {
            text-align: $textoCentrado;
            font-family: $tipografiaTitulos;
            background-color: $colorNegro;
            color: $colorAmarillo;
        }

        .mainEquipo__jugadores__estiloParrafo {
            font-family: $tipografiaParrafos;
        } 
}


.footer__logo {
        font-size: 1.5rem;
    }

    .footer__iconosRedes {
        text-align: $textoCentrado;

        .fa-instagram {
            color: $colorAmarillo;
        }

        .fa-twitter {
            color:$colorAmarillo;
            margin-left: 10px;
        }

        .fa-youtube {
            color: $colorAmarillo;
            margin-left: 10px;
        }
    }

    .footer__derechos {
        font-family: $tipografiaParrafos;
        color: $colorAmarillo;
        font-size: 1rem;
        text-align: $textoCentrado;
        margin-bottom: 25px;
    }
