.mainContacto__tituloContacto{
        font-family: $tipografiaTitulos;
        font-weight: $negrita;
        text-decoration: $subrayado;
        color: map-get($map: $color, $key: amarillo);
        text-align: $textoCentrado;
        margin-bottom: 50px;
    }
.mainContacto__tituloContacto__estiloFormulario{
                color: map-get($map: $color, $key: amarillo);
                font-family: $tipografiaParrafos
            }

