.mainNoticias{
    display: $flex;
    color: map-get($map: $color, $key: blanco);
    flex-wrap: $flexWrap;
    .mainNoticias__titulo{
        font-family: $tipografiaTitulos;
        font-weight: $negrita;
        color: map-get($map: $color, $key: amarillo);
        font-size: 2.4rem;
        text-align: $textoCentrado;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .mainNoticias__imagenes{
        text-align: $textoCentrado;
        margin-top: 60px;
        .mainNoticias__imagenes__titulo{
            font-family: $tipografiaParrafos;
            font-size: 20px;
            color: map-get($map: $color, $key: amarillo);
        }
        .mainNoticias__imagenes__parrafo{
            font-family: $tipografiaParrafos;
            margin-top: 30px;
        }
    }
    
}
