*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*Fuente de la pagina*/
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
}
.header{
    display: block;
    height: 100vh;
    background-image: url(../assets/img/Foto\ index.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .navbar {
        .container-fluid{
            .navbar-brand{
                .tamañoLogo{
                    width: 280px;
                    height: 160px;
                    margin-bottom: 10px;
                }
            }
           .collapse{
            .posicionNav{
                width: 100%;
                justify-content: end;
                margin-bottom: 80px;
                margin-right: 100px;
                .linkNav{
                    color: yellow;
                    font-size: 22px;
                    margin-left: 25px;
                    &:hover{
                        color: red;
                    }
                }
            }
           } 
        }
    }
}
.main__tituloMain{
        color: yellow;
        font-size: 2.4rem;
        text-align: center;
        margin-top: 15px;
    }
.main__parrafoMain{
        color: white;
        font-size: 1.2rem;
        text-align: center;
    }
.main__tituloMainDos{
    color: yellow;
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 50px;
}
.videosYt{
    margin-left: 60px;
    margin-bottom: 15px;
}
.footer__logo{
    font-size: 1.5rem;
}
.footer__iconosRedes{
    text-align: center;
    .fa-instagram{
        color: yellow;
    }
    .fa-twitter{
        color: yellow;
        margin-left: 10px;
    }
    .fa-youtube{
        color: yellow;
        margin-left: 10px;
    }
}
.footer__derechos{
    color: yellow;
    font-size:1rem ;
    text-align: center;
    margin-bottom: 25px;
}